<div class="container-fluid">
    <div class="row ">
        <div class="col-md-6">

            <div class="main-div">
    <app-basicheader></app-basicheader>

                <div class="card-bg">
            
                    @if(isSendOTP === true){
                    <!-- *send OTP -->
                    <div class="content-div">
                        <div>
                            <span routerLink="/"><img src="/assets/images/back-btn.svg" alt="" class="back-btn"></span>
                        </div>
                        <div class="info-wrap">
                            <span class="flex">
                                <h2 class="box-title">Forgot Password?</h2>
                            </span>
                            <p class="content">Enter the email address with your account and we'll send
                                an email with confirmation to reset your
                                password.</p>
                        </div>
                        <form class="form" [formGroup]="form">
                            <div class="form-field">
                                <span class="form-label">Email</span>
                                <input #emailInput type="text" class="form-control custom-placeholder form-input"
                                    placeholder="Email" formControlName="email" />
                                <mat-error *ngIf="form.get('email')?.hasError('email')">Please enter a valid email
                                    address</mat-error>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" class="otp-btn primary-btn" (click)="sendOTP()">
                                    <a>
                                        <span>Send Code</span>
                                    </a>
                                </button>
                            </div>
                        </form>
                    </div>
                    }
            
                    @if(isEnterOTP === true){
                    <!-- *write OTP -->
                    <div class="content-div otp-wrap">
                        <div>
                            <span routerLink="/"><img src="/assets/images/back-btn.svg" alt="" class="back-btn"></span>
                        </div>
                        <div class="info-wrap">
                            <span class="flex">
                                <h2 class="box-title">Please check your Email</h2>
                            </span>
                            <p class="content">
                                We have the code to {{form.value?.email}}
                            </p>
                        </div>
                        <div>
                            <ng-otp-input [config]="{length:5}" (onInputChange)="onOtpChange($event)"></ng-otp-input>
                            <div style="margin-top: 30px;">
                                <countdown #cd [config]="coundownconfig" (event)="coundownhandleEvent($event)" class="coundown">
                                </countdown>
                                <br>
                                <span class="sendagainontent" (click)="sendOTP()">Send code again</span>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" class="otp-btn primary-btn" (click)="verifyOTP()">
                                    <a>
                                        <span>Send Code</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    }
            
                    @if(isResetPassword === true){
                    <!-- *set new password -->
                    <div class="content-div reset-password-wrap">
                        <div>
                            <span routerLink="/"><img src="/assets/images/back-btn.svg" alt="" class="back-btn"></span>
                        </div>
                        <div class="info-wrap">
                            <span class="flex">
                                <h2 class="box-title">Create New Password</h2>
                            </span>
                            <p class="content">
                                This password should different from the previous password.
                            </p>
                        </div>
                        <div>
                            <form class="form" [formGroup]="resetpassword">
            
                                <div class="form-field">
                                    <span class="form-label">Password</span>
                                    <input [type]="passwordHide ? 'password' : 'text'"
                                        class="form-control custom-placeholder form-input" placeholder="Your password"
                                        formControlName="password"
                                        [ngClass]="{'is-invalid': resetpassword.get('password')?.touched && !resetpassword.get('password')?.valid }" />
                                    <span class="eye-btn" (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="passwordHide">
                                        <mat-icon class="padding-12">{{ passwordHide ? "visibility_off" : "visibility" }}</mat-icon>
                                    </span>
                                    <mat-error
                                        *ngIf="resetpassword.get('password')?.touched && resetpassword.get('password')?.invalid">
                                        Please make sure it contains at least 8 characters, including a combination of letters,
                                        numbers,
                                        and
                                        special characters.
                                    </mat-error>
                                </div>
            
                                <div class="form-field">
                                    <span class="form-label">Confirm Password</span>
                                    <input [type]="confirmPasswordHide ? 'password' : 'text'"
                                        class="form-control custom-placeholder form-input" placeholder="Your confirm password"
                                        formControlName="confirmPassword"
                                        [ngClass]="{'is-invalid': resetpassword.get('confirmPassword')?.touched && (!resetpassword.get('password')?.valid || resetpassword.get('confirmPassword')?.value !== resetpassword.get('password')?.value) }" />
                                    <span class="eye-btn" (click)="confirmPasswordHide = !confirmPasswordHide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordHide">
                                        <mat-icon class="padding-12">{{ confirmPasswordHide ? "visibility_off" : "visibility"
                                            }}</mat-icon>
                                    </span>
                                    <mat-error
                                        *ngIf="resetpassword.get('confirmPassword')?.touched && (resetpassword.get('password')?.invalid || resetpassword.get('confirmPassword')?.value !== resetpassword.get('password')?.value)">
                                        Confirm password does not match with password.
                                    </mat-error>
                                </div>
            
                                <div>
                                    <button mat-raised-button color="primary" class="otp-btn primary-btn" (click)="resetPassword()">
                                        <a>
                                            <span>Reset Password</span>
                                        </a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    }
            
                </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="register-bg">
                    <div class="community-box">
                        <div class="box-img">
                            <img src="../../../assets/images/OBJECTS.svg" alt="">
                        </div>
    
                        <h5>Community of the world of Gaming</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, at incidunt facilis possimus fugiat laudantium vitae, distinctio sit reprehenderit error repellat quibusdam repudiandae animi? Dolorem sequi hic expedita totam ex.</p>
                        <button mat-raised-button color="primary" class="know-more-btn primary-btn">
                            <a>
                                <span>Know More</span>
                            </a>
                        </button>
                        <!-- <button class="primary-btn know-more-btn">Know More</button> -->
                    </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="loading" class="overlay"></div>
<div *ngIf="loading" class="loader">
    <mat-spinner class="spinner" diameter="40" mode="indeterminate"></mat-spinner>
    <span class="loding-text">Loading...</span>
</div>