<div>
    <app-basicheader></app-basicheader>
    <div style="margin:50px;">
        <span style="font-size: 24px;color: #F8F8F8;font-weight: 500;">
            Terms and Conditions
        </span>

        <div class="Conditions" style="margin-top: 5px;">
            <p>1. Lorem Ipsum is simply dummy text</p>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in auctor quam. In at nunc et diam
                placerat tristique. Cras vel neque vehicula, dictum metus nec, scelerisque dolor. Phasellus porttitor
                risus purus, ut ultricies eros finibus maximus. Duis feugiat velit lacus. Integer et venenatis quam, id
                lobortis eros. Duis molestie non nunc aliquet porttitor. In ut dictum nibh, nec ullamcorper justo. Morbi
                eget lacus aliquet, iaculis nisi eu, tristique metus. Morbi blandit odio mattis erat rutrum, sed euismod
                risus elementum. Mauris orci purus, maximus nec elementum a, ultricies sed ex. Mauris semper elementum
                lacinia. Sed porttitor est vitae est tincidunt finibus. Nulla finibus et odio at eleifend. Curabitur a
                odio ac lectus molestie pulvinar. Donec eget ligula et eros efficitur vestibulum. Sed sem eros, blandit
                id imperdiet sit amet, consectetur ac augue. Duis pulvinar, nulla id scelerisque elementum, lectus magna
                pellentesque dui, convallis congue mi est in sem. Nulla sit amet odio mollis, bibendum mi vel, posuere
                libero. Pellentesque libero lacus, laoreet in libero in, imperdiet finibus dolor. Phasellus eget
                ultricies nulla, sit amet venenatis ante. Curabitur feugiat sapien cursus, ultrices nulla et, posuere
                metus. Vivamus iaculis a sem ut imperdiet. Aenean quis nisl eleifend, sollicitudin ante tristique.
            </span>
            <p>2. Lorem Ipsum is simply dummy text</p>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in auctor quam. In at nunc et diam
                placerat tristique. Cras vel neque vehicula, dictum metus nec, scelerisque dolor. Phasellus porttitor
                risus purus, ut ultricies eros finibus maximus. Duis feugiat velit lacus. Integer et venenatis quam, id
                lobortis eros. Duis molestie non nunc aliquet porttitor. In ut dictum nibh, nec ullamcorper justo. Morbi
                eget lacus aliquet, iaculis nisi eu, tristique metus. Morbi blandit odio mattis erat rutrum, sed euismod
                risus elementum. Mauris orci purus, maximus nec elementum a, ultricies sed ex. Mauris semper elementum
                lacinia. Sed porttitor est vitae est tincidunt finibus. Nulla finibus et odio at eleifend. Curabitur a
                odio ac lectus molestie pulvinar.
            </span>
            <p>3. Lorem Ipsum is simply dummy text</p>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in auctor quam. In at nunc et diam
                placerat tristique. Cras vel neque vehicula, dictum metus nec, scelerisque dolor. Phasellus porttitor
                risus purus, ut ultricies eros finibus maximus. Duis feugiat velit lacus. Integer et venenatis quam, id
                lobortis eros. Duis molestie non nunc aliquet porttitor. In ut dictum nibh, nec ullamcorper justo. Morbi
                eget lacus aliquet, iaculis nisi eu, tristique metus. Morbi blandit odio mattis erat rutrum, sed euismod
                risus elementum. Mauris orci purus, maximus nec elementum a, ultricies sed ex. Mauris semper elementum
                lacinia. Sed porttitor est vitae est tincidunt finibus. Nulla finibus et odio at eleifend. Curabitur a
                odio ac lectus molestie pulvinar. Donec eget ligula et eros efficitur vestibulum. Sed sem eros, blandit
                id imperdiet sit amet, consectetur ac augue. Duis pulvinar, nulla id scelerisque elementum, lectus magna
                pellentesque dui, convallis congue mi est in sem. Nulla sit amet odio mollis, bibendum mi vel, posuere
                libero. Pellentesque libero lacus, laoreet in libero in, imperdiet finibus dolor. Phasellus eget
                ultricies nulla, sit amet venenatis ante. Curabitur feugiat sapien cursus, ultrices nulla et, posuere
                metus. Vivamus iaculis a sem ut imperdiet. Aenean quis nisl eleifend, sollicitudin ante tristique,
                sodales erat. Duis pharetra lacus tellus, eu dictum sem fermentum quis. Cras ut eros sit amet tortor
                laoreet finibus. Nullam aliquam, erat ac ullamcorper efficitur, ipsum ante placerat lacus, sed vehicula
                est massa vel mauris. Integer at eleifend nisi, a feugiat risus. Nunc augue enim, tincidunt et tortor
                eget, tempor bibendum lorem. Ut consectetur elit arcu, ut fringilla lectus malesuada id. Praesent at
                luctus nisl. Morbi vel quam sed massa fringilla faucibus nec sed lectus. Nulla vitae turpis in risus
                cursus suscipit. Praesent posuere ut massa non accumsan. Vestibulum ultrices sagittis sollicitudin.
                Mauris tellus enim, pellentesque congue augue commodo, placerat blandit turpis. Cras pharetra
                scelerisque rutrum. Pellentesque in consectetur augue, fringilla laoreet metus. Integer dictum velit
                lobortis enim laoreet luctus. Phasellus accumsan, eros id consectetur sodales, metus leo pharetra nibh,
                vel accumsan nisl dolor a odio. Nulla facilisi. Vestibulum lacus felis, volutpat.
            </span>
        </div>

        <div>
            <button mat-raised-button color="primary" class="tc-btn primary-btn" (click)="GotoLandingPage()">
                <a>
                    <span>Accept Terms and Conditions</span>
                </a>
            </button>
        </div>
    </div>
</div>