<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="apple-app-site-association">
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension="." mimeType="application/json" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="01:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="assetlinks.json">
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="01:00:00" cacheControlCustom="public" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>